//FONTS
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Kreon&family=Lora&family=Prompt&family=Rokkitt&family=Source+Sans+Pro&family=Ubuntu&display=swap');
/*
font-family: 'Cabin', sans-serif;
font-family: 'Kreon', serif;
font-family: 'Lora', serif;
font-family: 'Prompt', sans-serif;
font-family: 'Rokkitt', serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/


//VARIABLES
$input_box_radius: 0.5rem;
$primary_font:'Ubuntu', sans-serif;
$secondary_font:'Prompt', sans-serif;
$font_size: 1.2rem;
$border_colour_hover: lightseagreen;
$border_colour_focus: rgb(76, 232, 188);
$border_radius: 5px;



*,*::before,*::after{
    box-sizing:border-box;
    margin:0;
    padding: 0;
}

html{  
    margin:0;
    padding: 0;
    width: 100vw;
    height: 100vh;  
    overflow-x: hidden;
}

body{  
    background-color: #232323;
    margin-top: 15vh;
    font-family: $primary_font;    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font_size;  
    height: 100%;
    width: 100%; 

    
}

#app{ 
    width: 90%;
    height: 100%;
}

main{  
    display: flex;
    justify-content: center;
    align-items: center;  
}




.homecontainer{
    color:cornsilk;
    width: 100vw;
    height: 100vh;    
    border: 1px solid rgba(0, 255, 255, 0.267);
    border-radius: 15px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr;

    .homeinfo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 50px;

        
        .homedetails{
            display: flex;
            flex-direction: column;
            gap:20px;
            width: 100%;
            p > span{
                color: lightseagreen;
                font-size: 25px;
                font-weight: bold;
            }

                       
        }
         
    }

    .hometitles{  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%; 
        h1{
            font-size: 2em;
            padding: 0;
        }
    }

    .homeimage{ 
        display: flex;
        justify-content: center;
        align-items: stretch;
        
        img{
            width: 100%;
            object-fit: cover;
        }
        
       
    }

}


.homebuttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    h1{
        text-align: center;
    }

    button{
      
        width: 200px;
        border: none;
        border-radius: $border_radius;
        padding-left: 10px;
        padding-right: 10px;
        transition: background-color 150ms ease-in;
        &:hover{
            background-color: lightseagreen;
        }
    }

}

.success{
    width: 100%;
    background-color: rgba(0, 255, 255, 0.35);
    color: lightseagreen;
}

.danger{
    width: 100%;
    color : rgb(239, 39, 39);
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;

}

.successmessage{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid greenyellow;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 255, 255, 0.385);
    color: cornsilk;
}

.dangermessage{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.35);
    width: 100%;
    height: 50px;
    color : cornsilk;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;

}