//FONTS
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Kreon&family=Lora&family=Prompt&family=Rokkitt&family=Source+Sans+Pro&family=Ubuntu&display=swap');
/*
font-family: 'Cabin', sans-serif;
font-family: 'Kreon', serif;
font-family: 'Lora', serif;
font-family: 'Prompt', sans-serif;
font-family: 'Rokkitt', serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/


//VARIABLES
$input_box_radius: 0.5rem;
$primary_font:'Ubuntu', sans-serif;
$secondary_font:'Prompt', sans-serif;
$font_size: 1.2rem;
$border_colour_hover: lightseagreen;
$border_colour_focus: rgb(76, 232, 188);



*,*::before,*::after{
    box-sizing:border-box;
    margin:0;
    padding: 0;
}

body{
    background-color: #232323;
    font-family: $primary_font;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: $font_size;
    
}
 .loginnav{
     background-color: #202020;
     border-bottom: 1px solid lightgray;
 }



.logincontainer{
     
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    width: 800px;
    height: 500px;

    h1{
        font-size: 50px;
        color: $border_colour_hover;
        margin-bottom: 30px;
    }
}

#loginForm{
    
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.loginformitems{
    position: relative;
    width:20rem;
    height: 3rem;

    .erroritem{
        position: absolute;
        top: 12px;
        left: 200px;

    }

    &__input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid cornsilk;
        border-radius: $input_box_radius;
        font-family: inherit;
        font-size: inherit;
        color: cornsilk;
        outline: none;
        padding: 1.25rem;
        background: none;

        &:hover{
            border-color: $border_colour_hover;
            &__label{
                top:0;
            }
        }

        &:focus{
            border-color: $border_colour_focus;
        }

    }

    &__label{
        font-family: $secondary_font;
        position: absolute;
        top: 0.7rem;
        left:0.8rem;
        color: cornsilk;
        padding: 0 0.5rem;
        cursor: text;
        transition: top 200ms ease-in,left 200ms ease-in, font-size 200ms ease-in;
         
    }

}

.loginformitems__input:focus ~ .loginformitems__label, .loginformitems__input:not(:placeholder-shown).loginformitems__input:not(:focus) ~ .loginformitems__label{
    top:-0.5rem;
    left:0.7rem;
    font-size: 12px;
    background-color: #232323; 
    border-radius: 5px;
    

}


.loginsubmit{     
    border: none;
    border-radius: $input_box_radius;
    font-weight: bold;
    color: #191919;
    transition: background-color 150ms ease-in;
    &:hover{
        background-color: $border_colour_hover; 
    }
}

.logindanger{
    color : rgb(239, 39, 39);
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.loginsuccess{
    color: aqua;
}

