//FONTS
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Kreon&family=Lora&family=Prompt&family=Rokkitt&family=Source+Sans+Pro&family=Ubuntu&display=swap');
/*
font-family: 'Cabin', sans-serif;
font-family: 'Kreon', serif;
font-family: 'Lora', serif;
font-family: 'Prompt', sans-serif;
font-family: 'Rokkitt', serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

*{
    box-sizing: border-box;
}

.usercontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:50px;
}


#profile{
    width: 100%; 
    border: 1px solid coral;
    border-radius: 10px;
    color:white;
    overflow: hidden;
    .profilecard{
        width: 100%;
        height: 100%;
        background-color: #191919;
        
        display: grid;
        grid-template-columns: 2fr 5fr;

        #profileimage{
            display: flex;
            justify-content: center;
            align-items: center; 
            img{
                width: 200px;
                height: 200px;
                border-radius: 50%;
            }
        }

        #profileinfo{
            color: cornsilk;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 3px;
            
            #email,#location,#joined{
                display: grid;
                grid-template-columns: 1fr 6fr;  
                font-family: 'Prompt', sans-serif;
                font-size: 12px;
            }
            #biography{
                font-size: 12px;
            }

            #name{
                color: lightseagreen;
            }

            .deleteaccount{
                justify-content: flex-end;
                display: flex;
                font-size: 70%;

                .profiledeletebtn{
                    justify-content: flex-end;
                    align-items: flex-end;
                    width: 150px;
                    margin: 0;
                }
            }
            
        }
    }
}

#favorited > h1{
    color: lightseagreen;
}

#favourites{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    
}

.card{
    width: 400px;
    height: auto;
    border: 1px solid rgba(245, 245, 245, 0.689);
    border-radius: 5px;
    background-color: #191919;
    overflow: hidden;
    justify-self: center;

    img{ 
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .description{
        width: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        .info{
            display: grid; 
            grid-template-columns: 2fr 3fr;
            grid-auto-rows: auto;
            grid-gap: 2px; 
            justify-items: stretch;
            width: 100%;
            font-family: 'Ubuntu Condensed', sans-serif;
            font-size: 20px;
            color: cornsilk;

            #left{
                justify-self: start;
            }
            #price{
                background-color: lightseagreen;
                border-radius: 5px;
                padding-left:5px;
                padding-right: 5px;
                justify-self: end;
            }
            #priceicon{
                width: 20px;
                height: auto;
            }
            p{
                justify-self: left;
            }
        }

        #carmodel{
            width: 100%;
            display: flex;
            font-family: 'Ubuntu', sans-serif;
            font-size: 25px;
            color: lightseagreen;
        }

    }
    button{
        border: none;
        border-radius: 5px;
        background-color: lightseagreen;
        width: auto;
        height: 30px;
    }
}